<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <section id="computed">
        <input type="text" v-model="fname" placeholder="Please Enter your first name">
        
        <input type="text" v-model="lname" placeholder="Please Enter your last name">
       
        <h1>Full Name: {{ fullName }}</h1>
    </section>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>